/* .navbar-light {
    background-color: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  }

  .navbar {
    background-color: #ffffff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
  }
  
  .navbar-brand {
    color: #000000;
    font-weight: bold;
    font-size: 24px;
  }
  
  .navbar-nav .nav-link {
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    margin-right: 20px;
  }
  
  .navbar-nav .nav-link:hover {
    color: #ffc107;
  }
  
  .profile-link {
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    margin-left: 20px;
  }
  
  .profile-link:hover {
    color: #ffc107;
    text-decoration: none;
  }

  .navbar-items {
    display: flex;
    flex-direction: row;
  }

  .navbar-items-main-container {
    display: flex;
  
  }

  .navbar-items a {

    padding: 5px;
    padding-left: 300px !important; 
  }
   */




   .navbar {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 1.1rem;
    padding: 5px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }
  
  .navbar-brand {
    color: #000;
    font-size: 1.8rem;
    font-weight: bold;
  }
  
  .navbar-toggler {
    border: none;
  }
  
  /* .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  } */
  
  .navbar-items-main-container {
    display: flex;
    align-items: center;
  }
  
  .navbar-items {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .nav-link {
    color: #000;
    margin-left: 15px;
    font-size: 1.2rem;
  }
  
  .nav-link:hover {
    color: #007bff;
  }
  
  .form-inline {
    display: flex;
    align-items: center;
  }
  
  .form-control {
    border-radius: 20px;
    border: none;
    font-size: 1.1rem;
    padding: 8px 15px;
    width: 250px;
  }
  
  .input-group-append {
    cursor: pointer;
  }

  .input-group-append span {
    padding-top: 15px;
  }
  
  .input-group-text {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .input-group-text:hover {
    color: #007bff;
  }
  