.app__login{
    width: 450px ;
    margin-left: 750px;
    margin-top: 110px;
    position: fixed;
    text-align: center;
    background: white;
    border-radius: 15px;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    transition: all 0.3s;
    /* scroll-behavior: auto; */
    /* background-image: url(https://mujslcm.jaipur.manipal.edu:122/keen/themes/keen/theme/demo1/dist/assets/media/misc/collage.png) */
}

.app__login-email {
    text-align: left;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.app__login-password {
    text-align: left;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.app__login-rememberme {
    text-align: left;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.forgot-password a {
    color: #167bff;
} 

.forgot-password {
    text-align: right;
} 

.app__login-image {
    scroll-behavior: auto;
    position: fixed;
}